# Application Settings
PORT=3001
NODE_ENV=production

# Database Settings (MySQL Aiven)
DB_HOST=mysql-3d4c88eb-numerum-db.k.aivencloud.com
DB_PORT=27593
DB_USERNAME=avnadmin
DB_PASSWORD="AVNS_SonM4XYvT55PF7BvTZ2"
DB_DATABASE=defaultdb

# JWT Configuration
JWT_SECRET="c2e8b94f0a1e3d7a8b2c4e6f9a0d1c3b5a7e9f1a2b3c4d5e6f7a8b9c0d1e2f3"
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET="f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9"
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth Configuration
GOOGLE_CLIENT_ID=411345636642-5mqq3ufafk17uqfa6ih37ql193v5vgho.apps.googleusercontent.com

# Client / Frontend App
FRONTEND_URL=http://localhost:3000

# Initial Seed Admin Credentials
SEED_ADMIN_EMAIL=admin@numerum.com
SEED_ADMIN_PASSWORD="Admin2024@"

https://num-manage-api-10.onrender.com